.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.SearchBar {
  background: #eff5f5;
  height: 75px;
}
.mt-20 {
  margin-top: 20px;
}

.VideoDetail {
  height: auto;
}

.ShowVideo {
  height: 300px;
}
iframe{
  width: 100%;
  height: 100%;
}

.ShowVideoTitle {
  height: 100px;
  margin-top: 20px;
}

.VideoList {
  height: auto;
  cursor: pointer;
}

.VideoItem {
  height: 100px;
  margin-top: 10px;
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}

.ImgVideo {
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 100%;
  max-height: 100% ;
}

.VideoName {
  height: 80px;
  margin-top: 10px;
  margin-right: 10px;
}

.mw-80 {
  width: 90%;
  float: left;
  margin-left: 25px;
}
.btnSearch {
  float: left;
}
.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}