.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Right {
  height: 50px;
}
.SongList {
  margin-top: 50px;
  border-bottom: 1px solid red;
}

.SongList .btn-primary {
  float: right;
  margin-top: -20px;
}
.SongList .btn-success {
  float: right;
  margin-top: -20px;
  margin-right: 10px;
}
